Gmail Ai reply.json
{
  "name": "Gmail Ai reply",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1264,
        -288
      ],
      "id": "21e8796d-0aa5-4725-8e77-38d544004d61",
      "name": "Check For new mail",
      "credentials": {
        "gmailOAuth2": {
          "id": "eUs5BDv4QBBvxJYZ",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1056,
        -336
      ],
      "id": "983a4d6b-576e-4078-bea4-921ac7c5a385",
      "name": "Get a message",
      "webhookId": "7c860b00-319e-491f-a0f8-7be3f50e4a47",
      "credentials": {
        "gmailOAuth2": {
          "id": "eUs5BDv4QBBvxJYZ",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a email responding agent \n\n\nBelow are the content of latest email got \n\nSubject:{{ $json.Subject }}\n\nBody:{{ $json.snippet }}\n\nyou have to do 2 things,\n\n1.Specify the label based on the email.\nuse the tool to get all the labels and label_id  an mention both of them properly\n\nlabel can be one of the below :\ndoubts,\nImportnat_update,\nsponorships\n\n2.as a smart assistant draft the response for me so that i can replay to my email.with subject and body\n\nMake sure that reply is very respectable and wherever requried please explain student doubt with example and also make sure that replay follow a strict HTML format so it is easy to read",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -816,
        -464
      ],
      "id": "c357d03f-ecde-42c5-b48e-94b79350769a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -864,
        -240
      ],
      "id": "9aae25fe-6520-458e-bb73-31d5aa8e222f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4qUnev05atgHEpdZ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"label\": \"doubt\",\n  \"label_id\":12345565855,\n  \"subject\":\"doubt_answer\",\n  \n    \"body\": \"Hey Thanks for reaching out\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -640,
        -208
      ],
      "id": "478d1f1c-b85f-4b98-a8c4-4fecbb18db54",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $json.output.label_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -416,
        -320
      ],
      "id": "2f912666-3dbd-41d1-8ee5-a83aa76f0925",
      "name": "Add label to message",
      "webhookId": "f9aed9d6-3b33-4cad-9d86-a7df26f55166",
      "credentials": {
        "gmailOAuth2": {
          "id": "eUs5BDv4QBBvxJYZ",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {
    "Check For new mail": [
      {
        "json": {
          "id": "1985d549c4c933f0",
          "threadId": "1985d549c4c933f0",
          "snippet": "Good Morning sir I have a doubt can you please suggest me a road map for Agentic AI and n8n in less than 30 words Best Regards Mohammed Zaid K",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 6077,
          "historyId": "70148",
          "internalDate": "1753912470000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "Mohammed Zaid <mohammadzaid27478@gmail.com>",
          "Subject": "Doubts",
          "To": "\"zaidzayn14@gmail.com\" <zaidzayn14@gmail.com>"
        }
      }
    ]
  },
  "connections": {
    "Check For new mail": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e5a43b18-dfe6-439f-959e-56c7141c8959",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c99e4fb7a191aaf9bbba34f15dfb1e317c88d895dea587f678e0d206bbb7a774"
  },
  "id": "NNb6IjY2HhB4PeTO",
  "tags": [
    {
      "createdAt": "2025-07-30T21:17:22.730Z",
      "updatedAt": "2025-07-30T21:17:22.730Z",
      "id": "oMlMQncWJxH7r0EC",
      "name": "gmail"
    }
  ]
}